@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1;
  }
  /* Custom Scrollbar for dense lists */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #fbf8ff; /* surface */
  }
  ::-webkit-scrollbar-thumb {
    background: #c1c8c2; /* outline-variant */
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #717973; /* outline */
  }
}
